{% extends "layout.html" %}
{% block content %}
<div class="card bg-light mb-3" >
    <div class="card-header">Alternate methods to claim prizes</div>
    <div class="card-body">
        <p>The information provided here is obtained from the Official Kerala Lotteries website. </p>
        <p>Inaccuracies, if any is regretted and can be reported <a target="_blank" class="btn btn-info" href="/feedback">here</a></p>
        <p>Please double check the information using the links to the official page provided along with the result.</p>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$( document ).ready(function() {
    console.log( "ready!" );
});

</script>
{% endblock %}


