{% extends "layout.html" %}
{% block content %}

<div class="card bg-light mb-3" >
    <div class="card-header">How to Claim a Prize</div>
    <div class="card-body">
        <p class="card-text">The prize winner has <b>30 days</b> after the draw to surrender the prize winning ticket.</p>

        <div class="card bg-light mb-3" >
            <div class="card-header">Prizes <b>upto</b> Rs. 1 Lakh</div>
            <div class="card-body">
                <p class="card-text">Prizes <b>upto</b> Rs. 1 Lakhmay be claimed from the District Lottery Offices concerned.</p>
            </div>
        </div>

        <div class="card bg-light mb-3" >
            <div class="card-header">Prizes <b>over</b> Rs. 1 Lakh</div>
            <div class="card-body">
                <p class="card-text">Prize winning tickets <b>over</b> Rs. 1 Lakh shall be surrendered before the Director of State Lotteries after affixing the signature,
                    name and address of the prize winner on the back side of the tickets with the following documents</p>
                <ol class="list-group">
                    <li class="list-group-item">A claim application along with a Photostat copy of both sides of the ticket, self attested.</li>
                    <li class="list-group-item">Two Passport size photographs of the prize-winner duly attested by a Gazetted Officer/Notary.</li>
                    <li class="list-group-item">A receipt for the prize money in the prescribed form affixing a revenue stamp worth Rs.1/- with
                    full address of the prize-winner(<a target="_blank" href="http://www.keralalotteries.com/images/documents/1rs.pdf">download</a>)</li>
                    <li class="list-group-item">If the prize winner is a minor, Guardianship certificate from a competent authority.</li>
                    <li class="list-group-item">In case of joint claims, one of the prize-winners should be authorized to receive the prize money and a ‘Joint Declaration’ in stamp paper worth Rs. 50/- should be executed.</li>
                    <li class="list-group-item">Self attested copy of the PAN Card.</li>
                    <li class="list-group-item">Attested document to prove identity ( Attested copy of Ration Card, Driving License, Passport, Election ID Card etc)</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="card bg-light mb-3" >
    <div class="card-header">Alternate methods to claim prizes</div>
    <div class="card-body">
        <p class="card-text">Prize amount can also be claimed through <b>Nationalised, Scheduled or State/ District Co-Operative banks</b>. The prize winning ticket should be surrendered to the bank with all the above documents, if necessary.
            The bank should submit the claim to the Director of State Lotteries with the following certificates: </p>
        <ol class="list-group">
            <li class="list-group-item">The letter of Authorisation from the prize-winner(<a target="_blank" href="http://www.keralalotteries.com/images/documents/prizewinner.pdf">download</a>)</li>
            <li class="list-group-item">The certificate from the receiving bank (<a target="_blank" href="http://www.keralalotteries.com/images/documents/receivingbank%20.pdf">download</a>)</li>
            <li class="list-group-item">The certificate from the collecting bank (<a target="_blank" href="http://www.keralalotteries.com/images/documents/collectingbank.pdf">download</a>)</li>
        </ol>
    </div>
</div>

<div class="card bg-light mb-3" >
    <div class="card-header">Taxes</div>
    <div class="card-body">
        <p class="card-text">For prize money more than Rs. 10,000, income tax at prevailing rate will be deducted and credited into the central government account.
            As of now, an Income tax of 30% will be deducted for all the prize winning claims exceeding Rs. 10,000/- For
            the agents prize claims an amount equivalent to 10% of the claim will be deducted as income tax. Presently no surcharge or educational cess is deducted as per the Income Tax rules. </p>
        <p> ** Prize winning tickets above Rs.1 Lakh and upto Rs.20 Lakhs shall be passed for payment by the Deputy Director(Prize) and that above 20 lakhs by the Director. </p>
    </div>
</div>

<div class="card text-white bg-secondary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
        <p class="card-text">Information obtained from (<a target="_blank" href="http://www.keralalotteries.com/index.php/quick-view/prize-claim">here</a>)</p>
        <br>
        <p>Additional Information available from these links</p>
        <ol class="list-group">
            <li class="list-group-item"><a target="_blank" href="http://www.keralalotteries.com/index.php/contact-us">Lottery Department Contact Information</a></li>
        </ol>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
$( document ).ready(function() {
    console.log( "ready!" );

});

</script>
{% endblock %}


