{% extends "layout.html" %}
{% block content %}
    <h1>How to Claim a Prize</h1>
    <p>The prize winner has <b>30 days</b> after the draw to surrender the prize winning ticket.</p>
    <h3>Prizes upto <b>Rs. 1 Lakh</b></h3>
    <p>Prizes up to <b>Rs. 1 Lakh </b>may be claimed from the District Lottery Offices concerned.</p>
    <h3>Prizes over <b>Rs. 1 Lakh</b></h3>
    <p>Prize winning tickets above <b>Rs. 1 Lakh </b> shall be surrendered before the Director of State Lotteries after affixing the signature,
         name and address of the prize winner on the back side of the tickets with the following documents.</p>
    <ol>
        <li>A claim application along with a Photostat copy of both sides of the ticket, self attested.</li>
        <li>Two Passport size photographs of the prize-winner duly attested by a Gazetted Officer/Notary.</li>
        <li>A receipt for the prize money in the prescribed form affixing a revenue stamp worth Rs.1/- with
             full address of the prize-winner(<a target="_blank" href="http://www.keralalotteries.com/images/documents/1rs.pdf">download</a>)</li>
        <li>If the prize winner is a minor, Guardianship certificate from a competent authority.</li>
        <li>In case of joint claims, one of the prize-winners should be authorized to receive the prize money and a ‘Joint Declaration’ in stamp paper worth Rs. 50/- should be executed.</li>
        <li>Self attested copy of the PAN Card.</li>
        <li>Attested document to prove identity ( Attested copy of Ration Card, Driving License, Passport, Election ID Card etc)</li>
    </ol>
    <h3>Alternate methods to claim prizes</h3>
    <p>Prize amount can also be claimed through <b>Nationalised, Scheduled or State/ District Co-Operative banks</b>. The prize winning ticket should be surrendered to the bank with all the above documents, if necessary.
        The bank should submit the claim to the Director of State Lotteries with the following certificates: </p>
    <ol>
        <li>The letter of Authorisation from the prize-winner(<a target="_blank" href="http://www.keralalotteries.com/images/documents/prizewinner.pdf">download</a>)</li>
        <li>
The certificate from the receiving bank (<a target="_blank" href="http://www.keralalotteries.com/images/documents/receivingbank%20.pdf">download</a>)</li>
        <li>The certificate from the collecting bank (<a target="_blank" href="http://www.keralalotteries.com/images/documents/collectingbank.pdf">download</a>)</li>
    </ol>
    <h3>Taxes</h3>
    <p>For prize moneys more than Rs. 10,000, income tax at prevailing rate will be deducted and credited into the central government account.
        As of now, an Income tax of 30% will be deducted for all the prize winning claims exceeding Rs. 10,000/- For
        the agents prize claims an amount equivalent to 10% of the claim will be deducted as income tax. Presently no surcharge or educational cess is deducted as per the Income Tax rules.</p>

    <p> ** Prize winning tickets above Rs.1 Lakh and upto Rs.20 Lakhs shall be passed for payment by the Deputy Director(Prize) and that above 20 lakhs by the Director. </p>
    <br><br>
    <span>Information obtained from (<a target="_blank" href="http://www.keralalotteries.com/index.php/quick-view/prize-claim">here</a>)</span>
    <br><br>
    <h3>Additional Information available from these links</h3>
    <ol>
        <li><a target="_blank" href="http://www.keralalotteries.com/index.php/contact-us">Lottery Department Conatct Information</a></li>
    </ol>
{% endblock %}

{% block script %}
<script>
$( document ).ready(function() {
    console.log( "ready!" );

});

</script>
{% endblock %}


